<section class="registration">
  <div class="registration-container">
    <h1>Регистрация</h1>
    <form class="form" [formGroup]="loginForm">
      <label class="input-wrapper no-valid">
        <span>Ваше имя</span>
        <input type="text" placeholder="Введите ваше имя" formControlName="firstname" autocomplete="off">
        <div class="valid-message">Введите корректное имя</div>
      </label>
      <label class="input-wrapper">
        <span>Ваша фамилия</span>
        <input type="text" placeholder="Введите вашу фамилию" formControlName="lastname" autocomplete="off">
      </label>
      <label class="input-wrapper">
        <span>Ваш e-mail</span>
        <input type="email" placeholder="Введите ваш email" formControlName="email" autocomplete="off">
      </label>
      <label class="input-wrapper">
        <span>Пароль</span>
        <input type="password" placeholder="Введите ваш пароль" formControlName="password" autocomplete="off">
      </label>
      <div class="btn-wrapper">
        <button (click)="send()">Зарегистрироваться</button>
      </div>
    </form>
  </div>
</section>
