<div class="social-info">
  <ng-container *ngIf="social_info; else loadingTemplate">
    <div class="social-activity">
      <h4>Cоциальная активность</h4>
      <hr color="#FFF" size="2">
      <img src="{{ social_info?.img | imgParse }}" alt="Cоциальная активность" class="img-social">
    </div>
    <div class="social-count">
      <ul class="social-count-list">
        <li>
          <p class="count">{{ social_info?.followers }}</p>
          <p class="subscriber">Followers</p>
        </li>
        <li>
          <p class="count">{{ social_info?.following }}</p>
          <p class="subscriber">Following</p>
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-template #loadingTemplate>
    Загрузка данных ...
  </ng-template>
</div>