<div class="teddy-bear">
  <ng-container *ngIf="social_info; else loadingTemplate">
    <div class="teddy-text">
      <h4>Cоциальная активность</h4>
      <span class="w-line"> </span>
      <img src="{{ social_info?.img | imgParse }}" alt=""  class="img-responsive">
    </div>
    <div class="teddy-follow">
      <ul>
        <li class="folw-h"><h3>{{ social_info?.followers }}</h3>
          <p>Followers</p>
        </li>
        <li><h3>{{ social_info?.following }}</h3>
          <p>Following</p>
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-template #loadingTemplate>
    Загрузка данных ...
  </ng-template>
</div>